.icon--add-record { background-image: url('png/add-record.png'); background-repeat: no-repeat; }

.icon--add-sky-blue { background-image: url('png/add-sky-blue.png'); background-repeat: no-repeat; }

.icon--add-stroke { background-image: url('png/add-stroke.png'); background-repeat: no-repeat; }

.icon--add { background-image: url('png/add.png'); background-repeat: no-repeat; }

.icon--anonymous-avatar { background-image: url('png/anonymous-avatar.png'); background-repeat: no-repeat; }

.icon--arrow-daterange { background-image: url('png/arrow-daterange.png'); background-repeat: no-repeat; }

.icon--calendar { background-image: url('png/calendar.png'); background-repeat: no-repeat; }

.icon--card-3-people-blue { background-image: url('png/card-3-people-blue.png'); background-repeat: no-repeat; }

.icon--card-blue { background-image: url('png/card-blue.png'); background-repeat: no-repeat; }

.icon--check { background-image: url('png/check.png'); background-repeat: no-repeat; }

.icon--chevron-down { background-image: url('png/chevron-down.png'); background-repeat: no-repeat; }

.icon--chevron-left { background-image: url('png/chevron-left.png'); background-repeat: no-repeat; }

.icon--chevron-right { background-image: url('png/chevron-right.png'); background-repeat: no-repeat; }

.icon--chevron-up { background-image: url('png/chevron-up.png'); background-repeat: no-repeat; }

.icon--chevron { background-image: url('png/chevron.png'); background-repeat: no-repeat; }

.icon--clear-active { background-image: url('png/clear-active.png'); background-repeat: no-repeat; }

.icon--clear-default { background-image: url('png/clear-default.png'); background-repeat: no-repeat; }

.icon--clear-hover { background-image: url('png/clear-hover.png'); background-repeat: no-repeat; }

.icon--clear { background-image: url('png/clear.png'); background-repeat: no-repeat; }

.icon--clock-o { background-image: url('png/clock-o.png'); background-repeat: no-repeat; }

.icon--clock { background-image: url('png/clock.png'); background-repeat: no-repeat; }

.icon--close { background-image: url('png/close.png'); background-repeat: no-repeat; }

.icon--document-locked { background-image: url('png/document-locked.png'); background-repeat: no-repeat; }

.icon--document-no-restriction { background-image: url('png/document-no-restriction.png'); background-repeat: no-repeat; }

.icon--document-restriction { background-image: url('png/document-restriction.png'); background-repeat: no-repeat; }

.icon--document { background-image: url('png/document.png'); background-repeat: no-repeat; }

.icon--eHealth_D-Arrow-Large-Icon { background-image: url('png/eHealth_D-Arrow-Large-Icon.png'); background-repeat: no-repeat; }

.icon--eHealth_D-Secondary-Settings-Large-Icon { background-image: url('png/eHealth_D-Secondary-Settings-Large-Icon.png'); background-repeat: no-repeat; }

.icon--error-invert { background-image: url('png/error-invert.png'); background-repeat: no-repeat; }

.icon--error { background-image: url('png/error.png'); background-repeat: no-repeat; }

.icon--external-link { background-image: url('png/external-link.png'); background-repeat: no-repeat; }

.icon--folder-blue { background-image: url('png/folder-blue.png'); background-repeat: no-repeat; }

.icon--health { background-image: url('png/health.png'); background-repeat: no-repeat; }

.icon--healthcare-all-access { background-image: url('png/healthcare-all-access.png'); background-repeat: no-repeat; }

.icon--healthcare-provider { background-image: url('png/healthcare-provider.png'); background-repeat: no-repeat; }

.icon--healthcare-removed { background-image: url('png/healthcare-removed.png'); background-repeat: no-repeat; }

.icon--healthcare-restricted { background-image: url('png/healthcare-restricted.png'); background-repeat: no-repeat; }

.icon--healthcare { background-image: url('png/healthcare.png'); background-repeat: no-repeat; }

.icon--icon-search { background-image: url('png/icon-search.png'); background-repeat: no-repeat; }

.icon--icon_tick { background-image: url('png/icon_tick.png'); background-repeat: no-repeat; }

.icon--individuals { background-image: url('png/individuals.png'); background-repeat: no-repeat; }

.icon--info-circle { background-image: url('png/info-circle.png'); background-repeat: no-repeat; }

.icon--key-blue { background-image: url('png/key-blue.png'); background-repeat: no-repeat; }

.icon--key-primary { background-image: url('png/key-primary.png'); background-repeat: no-repeat; }

.icon--lock { background-image: url('png/lock.png'); background-repeat: no-repeat; }

.icon--magnifying-glass { background-image: url('png/magnifying-glass.png'); background-repeat: no-repeat; }

.icon--mobile-granted { background-image: url('png/mobile-granted.png'); background-repeat: no-repeat; }

.icon--mobile { background-image: url('png/mobile.png'); background-repeat: no-repeat; }

.icon--pencil { background-image: url('png/pencil.png'); background-repeat: no-repeat; }

.icon--person { background-image: url('png/person.png'); background-repeat: no-repeat; }

.icon--profile { background-image: url('png/profile.png'); background-repeat: no-repeat; }

.icon--record-history { background-image: url('png/record-history.png'); background-repeat: no-repeat; }

.icon--stack-overflow { background-image: url('png/stack-overflow.png'); background-repeat: no-repeat; }

.icon--unlock-rev { background-image: url('png/unlock-rev.png'); background-repeat: no-repeat; }

.icon--upload { background-image: url('png/upload.png'); background-repeat: no-repeat; }

.icon--warning { background-image: url('png/warning.png'); background-repeat: no-repeat; }

.icon--zoom { background-image: url('png/zoom.png'); background-repeat: no-repeat; }

